<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PSHomePageViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSHomePageViewController_ENTER</string>
			<key>Leave</key>
			<string>PSHomePageViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>p_InsertPrisonIntroduce:</key>
			<dict>
				<key>0</key>
				<string>click_jail_detail</string>
			</dict>
			<key>p_inserDynamic:</key>
			<dict>
				<key>0</key>
				<string>click_work_dynamic</string>
			</dict>
			<key>p_insertLaw:</key>
			<dict>
				<key>0</key>
				<string>click_laws_regular</string>
			</dict>
			<key>p_InsertPrisonPublic:</key>
			<dict>
				<key>0</key>
				<string>click_prisoner_opnening</string>
			</dict>
		</dict>
	</dict>
	<key>PSServiceCentreViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSServiceCentreViewController_ENTER</string>
			<key>Leave</key>
			<string>PSServiceCentreViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>checkAction:</key>
			<string>哈哈</string>
		</dict>
	</dict>
	<key>PSServiceCentreTableViewCell</key>
	<dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>checkAction:</key>
			<dict>
				<key>3</key>
				<string>click_complain_advice</string>
				<key>2</key>
				<string>click_e_mall</string>
				<key>1</key>
				<string>click_real_meeting</string>
				<key>0</key>
				<string>click_family_call</string>
			</dict>
		</dict>
	</dict>
	<key>PSMeViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSMeViewController_ENTER</string>
			<key>Leave</key>
			<string>PSMeViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>clickButton2:</key>
			<string>哈哈</string>
		</dict>
	</dict>
	<key>PSAppointmentViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSMeViewController_ENTER</string>
			<key>Leave</key>
			<string>PSMeViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>requsetPhoneCardBalance</key>
			<dict>
				<key>0</key>
				<string>click_apply_family_call</string>
			</dict>
		</dict>
	</dict>
	<key>PSAddFamiliesViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSAddFamiliesViewController_ENTER</string>
			<key>Leave</key>
			<string>PSAddFamiliesViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>requsetPhoneCardBalance</key>
			<dict>
				<key>0</key>
				<string>click_apply_family_call</string>
			</dict>
		</dict>
	</dict>
	<key>PSRingMeetingViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>Enter</key>
			<string>PSRingMeetingViewController_ENTER</string>
			<key>Leave</key>
			<string>PSRingMeetingViewController_LEAVE</string>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>refuseAction:</key>
			<dict>
				<key>0</key>
				<string>click_refused_meeting</string>
			</dict>
			<key>acceptAction:</key>
			<dict>
				<key>0</key>
				<string>click_accept_meeting</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
