<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<false/>
	<key>New item - 2</key>
	<false/>
	<key>New item - 3</key>
	<false/>
	<key>New item - 4</key>
	<false/>
	<key>New item - 5</key>
	<false/>
	<key>New item - 6</key>
	<false/>
	<key>New item - 7</key>
	<false/>
	<key>New item - 8</key>
	<false/>
</dict>
</plist>
